.parent {
    color: rgba(254, 252, 252, 0.946);
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.column-layout-parent {
    justify-content: center;
}


.arrow-top {
    display: flex;
    top: 30px;
    left: 30px;
    font-size: 40px;
    position: fixed;
}

.arrow-bottom {
    display: flex;
    justify-content: right;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    position: fixed;
}

.sub-parent {
    color: rgba(254, 252, 252, 0.946);
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    /* height: 50vh; */
    text-align: left;
}


.column-layout {
    width: 750px;
}

.column-layout h2 {
    font-size: 7vw;
}

.bold-icon {
    font-size: 2vw;
    padding-bottom: 40px;
    display: flex;
}

.column-layout .caption {

    font-size: 1.7vw;
    color: white;
    font-family: Futura, "futura-pt", sans-serif;
    font-weight: 20;
    text-decoration: solid;
    text-align: right;
}

.full-paragraph-layout {
    flex-direction: column;
    column-count: 2;
    width: 50vw;
    text-align: justify;
    gap: 30px;
}

h3 {
    font-size: 2vw;
    text-align: left;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0;
    padding: 0;

    font-size: 3.5vw;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
    font-size: 14px;
    font-family: Futura, "futura-pt", sans-serif;
    letter-spacing: 1px;
    color: rgb(205, 205, 205);

}