.parent {
    color: rgba(254, 252, 252, 0.946);
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

/* or */

.column-layout-parent {
    color: rgba(254, 252, 252, 0.946);
    min-height: 100vh;
    min-width: 100vw;
    justify-content: right;
    align-items: center;
    display: flex;
}

/* _______________________________________________________________________ */
.sub-parent {
    color: rgba(254, 252, 252, 0.946);
    /* background-color: black; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin-bottom: 40px;
    text-align: left;
    transition: transform 0.5s ease-in-out;
}

.sub-parent:hover {
    transform: translateY(-20px) translateX(20px);
}

/* or */
.column-layout-subparent {
    width: 60vw;
    position: fixed;
}

/* ________________________________________________________________________________ */

.column-layout-subparent h2 {
    font-size: 7vw;
}

/* or */
h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* ___________________________________________________________________________________ */

h3 {
    font-size: 2vw;
    text-align: left;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

/* or  */
.column-layout-subparent .caption {

    font-size: 1.7vw;
    color: white;
    font-family: Futura, "futura-pt", sans-serif;
    font-weight: 20;
    text-decoration: solid;
    text-align: right;
    padding: 50px 50px 0 0;
}

/* ________________________________________________________________________________ */
p {
    text-align: left;
    font-size: 14px;
    font-family: Futura, "futura-pt", sans-serif;
    letter-spacing: 1px;
    color: rgb(205, 205, 205);

}

/* or */
.full-paragraph-layout {
    flex-direction: column;
    column-count: 2;
    width: 50vw;
    text-align: justify;
    gap: 30px;
}

/* ______________________________________________________________________________________ */

.bold-icon {
    font-size: 2vw;
    padding-bottom: 40px;
    display: flex;
}

.arrow-top {
    display: flex;
    top: 30px;
    left: 30px;
    font-size: 40px;
    position: fixed;
}

.arrow-bottom {
    display: flex;
    justify-content: right;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    position: fixed;
}

.link {
    color: #1AB3DE;
    flex-direction: column;
    display: flex;
    padding: 30px 30px 30px 0;
    font-size: 13px;
    padding-top: 0;
    text-decoration: none;
}