.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width:100vw;
  text-align: center;
}

.App-header {
  background-color: #333;
  color: white;
}
.App-logo{
  width: 10vh; 
  height: 10vh;
}

.content-parent {
  display: flex;
  flex: 1; 
  overflow: auto;
  justify-content: center;
  align-items: center;

}

.App-footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}

